body{
    background: linear-gradient(#33468a,#F3F5FC,#BBBBBB,#33468a);
    margin: 0%;
  }
  header{
    padding: 20px;
  }
  .facebook, .instagram, .linkedin,.github{
    height: 40px;
    width: auto;
    margin: 2px;
  }
  .caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
  }
  nav{
    position: absolute;
    top: 50px;;
    right: 0;
  }
  nav li{
    display: inline;
    margin: 0 0 0 15px;
    
  }
  nav a>img:hover{
    transform: scale(1.2);
    transition: 0.1s;
  }
  /* nota al pie */
  footer{
    text-align: center;
  }
  
  .copyright{
    color: #ffffff;
    font-size: 16px;
    margin: 20px;
  }

  /* encriptador */
.encriptador{
    margin: auto;
    position: relative;
    width: 1440px;
    height: 1024px;
    border-radius: 0px;
    font-family: 'Inter',  'cursive';
    background: #E5E5E5;
}
.logo{
    width: 100%;
    float: left;
}
.parte1 {
    float: left;
    width: 70%;
    height: 91%;
}
.left {
    float: left;
    width: 100%;
    height: 82.5%;
    border-radius: 24px;
}
.parte2 {
    float: left;
    width: 28%;
    height: 91%;
    text-align: center;
    border-radius: 32px;
}
.primerPanel{
    background: white;
    float: left;
    width: 100%;
    text-align: center;
    border-radius: 24px;
}
.segundoPanel{
    display: none;
    height: 98%;
    float: left;
    border-radius: 24px;
    width: 100%;
    background: white;

}
.solapa{
    margin: 0 0 0 240px;
}
.left-buttom {
    float: left;
    width: 100%;
    height: auto;
    border-radius: 24px;
}
.logoImg{
    margin: 40px 0px 0px 84px;
    float: inherit;
}
.title {
    float: inherit;
    margin: 20px auto;
    margin-inline-start: 25%;
}
.input-texto{
    float: left;
    margin: 80px 80px 396px 240px;
    color: #0A3871;
    width: 68%;
    height: 38%;
    color: #0A3871;
    line-height: 150%;
    font-style: normal;
    font-size: 32px;
    font-family: 'Inter',  cursive;
    border: none;
    outline: none;
    resize: none;
    background: #E5E5E5;
}
#imgDer{
    margin: 243px 32px 16px 32px;
    width: auto;
    height: auto;
}
#texto{
    margin: 16px 32px 8px 32px;
    font-size: 24px;
    line-height: 120%;
}
#subtexto{
    margin: 8px 32px 243px 32px;
    font-size: 16px;
    color: #495057;
    line-height: 150%;
}
#texto2 {
    float: left;
    margin: 32px 32px 16px 32px;
    color: #0A3871;
    width: 85%;
    height: 79%;
    border: none;
    outline: none;
    font-size: 22px;
    font-family: 'Inter', cursive;
    resize: none;
    display: none;
}
#btn-encriptar, #btn-desencriptar{
    margin: 0px 0px 72px 240px;
    padding: 24px;
    width: 328px;
    height: 67px;
    color: white;
    border-radius: 24px;
    border: 1px solid #0A3871;
    background: #0A3871;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
#btn-desencriptar{
    margin: 0px 80px 0px 24px; 
    background: #E5E5E5;
    color: #0A3871;
}
#copiar {
    float: left;
    margin: 16px 50px 32px 50px;
    width: 336px;
    font-size: 16px;
    height: 67px;
    border-radius: 24px;
    display: none;
    border: 1px solid #0A3871;
    color: #0A3871;
    background: white;
}
#inputText::placeholder, #texto2::placeholder{
    color: #0A3871;
    font-family: 'Inter',  cursive;
}
/* estilizando */
.descrp:hover, .encrp:hover,.cop:hover{
    transform: scale(1.2);
    transition: 0.1s;
}
.encrp, .descrp, .cop{
    font-weight: 500;
    background: #50a7c9;
    border: 2px solid;
    border-color: #318aac;
    position: relative;
    font-family: 'Inter',  cursive;

}
.encrp:hover, .descrp:hover, .cop:hover, .segundoPanel{
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
    font-family: 'Inter',  cursive;
}
.title {
    color: #87b1c1;
    font-size: 36px;
    position: relative;
}
.title:after {
content: attr(data-text);
position: absolute;
left: 0px;
text-shadow: -1px 0 red;
top: 0;
overflow: hidden;
clip: rect(0, 900px, 0, 0);
animation: noise-anim 2s infinite linear alternate-reverse;
}
.title:before {
content: attr(data-text);
position: absolute;
left: -4px;
text-shadow: 1px 0 blue;
top: 0;
overflow: hidden;
clip: rect(0, 900px, 0, 0);
animation: noise-anim-2 3s infinite linear alternate-reverse;
}
@keyframes noise-anim {
0% {
    clip: rect(51px, 9999px, 28px, 0);
}
5% {
    clip: rect(70px, 9999px, 19px, 0);
}
10% {
    clip: rect(92px, 9999px, 13px, 0);
}
15% {
    clip: rect(85px, 9999px, 49px, 0);
}
20% {
    clip: rect(45px, 9999px, 56px, 0);
}
25% {
    clip: rect(26px, 9999px, 31px, 0);
}
30% {
    clip: rect(62px, 9999px, 73px, 0);
}
35% {
    clip: rect(34px, 9999px, 11px, 0);
}
40% {
    clip: rect(26px, 9999px, 61px, 0);
}
45% {
    clip: rect(34px, 9999px, 71px, 0);
}
50% {
    clip: rect(35px, 9999px, 69px, 0);
}
55% {
    clip: rect(92px, 9999px, 81px, 0);
}
60% {
    clip: rect(26px, 9999px, 85px, 0);
}
65% {
    clip: rect(2px, 9999px, 68px, 0);
}
70% {
    clip: rect(54px, 9999px, 79px, 0);
}
75% {
    clip: rect(35px, 9999px, 85px, 0);
}
80% {
    clip: rect(70px, 9999px, 60px, 0);
}
85% {
    clip: rect(32px, 9999px, 26px, 0);
}
90% {
    clip: rect(94px, 9999px, 53px, 0);
}
95% {
    clip: rect(99px, 9999px, 92px, 0);
}
100% {
    clip: rect(42px, 9999px, 27px, 0);
}
}
@keyframes noise-anim-2 {
0% {
    clip: rect(21px, 9999px, 49px, 0);
}
5% {
    clip: rect(27px, 9999px, 52px, 0);
}
10% {
    clip: rect(21px, 9999px, 70px, 0);
}
15% {
    clip: rect(65px, 9999px, 25px, 0);
}
20% {
    clip: rect(24px, 9999px, 10px, 0);
}
25% {
    clip: rect(61px, 9999px, 64px, 0);
}
30% {
    clip: rect(34px, 9999px, 47px, 0);
}
35% {
    clip: rect(46px, 9999px, 93px, 0);
}
40% {
    clip: rect(46px, 9999px, 9px, 0);
}
45% {
    clip: rect(67px, 9999px, 36px, 0);
}
50% {
    clip: rect(72px, 9999px, 20px, 0);
}
55% {
    clip: rect(79px, 9999px, 26px, 0);
}
60% {
    clip: rect(13px, 9999px, 87px, 0);
}
65% {
    clip: rect(10px, 9999px, 25px, 0);
}
70% {
    clip: rect(85px, 9999px, 11px, 0);
}
75% {
    clip: rect(94px, 9999px, 35px, 0);
}
80% {
    clip: rect(50px, 9999px, 86px, 0);
}
85% {
    clip: rect(74px, 9999px, 67px, 0);
}
90% {
    clip: rect(1px, 9999px, 40px, 0);
}
95% {
    clip: rect(3px, 9999px, 48px, 0);
}
100% {
    clip: rect(90px, 9999px, 23px, 0);
}
}
